# Python cache
__pycache__/
*.pyc

# Local Data Cache (Don't push huge data files)
ml_engine/data/raw/
ml_engine/data/processed/
data/

# Machine Learning Binaries (Committed to Git to avoid Render build rate-limits)
# models/*.pkl
# *.pkl
!models/clusterer.pkl
!models/predictor.pkl

# Environments & IDEs
.venv/
venv/
.env
.vscode/